flask==2.3.2          # Для работы веб-приложения
matplotlib==3.8.0     # Для построения графиков
numpy==1.24.4         # Для работы с числовыми данными
scipy==1.11.3         # Для обработки сигналов
plotly==5.15.0        # Для интерактивных графиков